<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds"> <!--logback 구현체가 설정을 확인하는 주기-->
<!-- 변수 설정 값 -->
    <property name="moduleId" value="logback-test"/>
    <property name="type" value="test"/>
    <property name="logback" value="logback"/>
    <property name="logdir" value="C:\Users\USER=Desktop\loggingtest"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>[%d{yyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{30} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>